.currently-working-on {
  padding: 15vh 0;
  display: flex;
  justify-content: center;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  border: solid #1a1a1d 3px;
  padding: 8px;
  border-radius: 10px;
  -webkit-box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.75);
}

.task-container {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  flex-direction: column;
  background-color: #1a1a1d;
  color: #cfcfcf;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
}

.task-container-header {
  text-decoration-line: underline;
}

.task-container-done {
  display: flex;
  justify-content: flex-end;
}

.done {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 0;
  background-color: #cfcfcf;
  color: #c3073f;
  height: 30px;
  width: 30px;
}
