.skills {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-image: url('/blackWhiteTiles.jpg');
}

.skills-skillsList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8vh 3vw;
}

.Methodology-list {
  padding: 3% 15%;
}
