.skills {
  display: flex;
  flex: 1;
}

.skills-skillsList {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10vh 0;
}

.Methodology-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px 0;
}

@media (max-width: 800px) {
  .Methodology-list {
    flex-direction: column;
  }
}

h4 {
  font-weight: bold;
  font-size: 40px;
}
