.app-container {
  display: flex;
  flex-direction: column;
}

.ui {
  display: flex;
  padding: 0 150px;
}

@media (max-width: 1000px) {
  .ui {
    padding: 0;
  }
}

.ui-container {
  display: flex;
  background-color: #1a1a1d;
  color: #d2caca;
  -webkit-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
}

.ui-titles-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 0 15px;
  background-color: #1a1a1d;
  color: #d2caca;
  -webkit-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
}

.ui-titles-container .container-title {
  display: flex;
  align-items: center;
  padding: 15px;
}

.ui-titles-container .container-image {
  padding: 5px;
  height: 100px;
  width: 100px;
}
