.app-container {
  margin: 0 0;
  padding-top: 55px;
  padding-left: 0;
  padding-right: 0;
}

.ui-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #1a1a1d;
  color: #d2caca;
  border: solid #d2caca 5px;
  -webkit-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
}

.ui-titles-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  padding: 1% 2%;
  background-color: #1a1a1d;
  border: solid #d2caca 5px;
  color: #d2caca;
  -webkit-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  box-shadow: -20px 20px 40px 5px rgba(0, 0, 0, 0.75);
  width: 85vw;
  height: 17vh;
}

.ui-titles-container img {
  background-color: #d2caca;
}
