.appNavbar {
  background-color: #cfcfcf;
  height: 55px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.appNavbar a {
  color: #1a1a1d;
}
.appNavbar span {
  color: #c3073f;
  padding: 8px;
}
.appNavbar button {
  background-color: #1a1a1d;
}

.navbar-collapse {
  background-color: #cfcfcf;
  color: #1a1a1d;
}

@media (max-width: 767.98px) {
  span {
    display: none;
  }
}
