.inner-navbar {
  background-color: black;
  height: 55px;
  border-bottom: 5px solid #d2caca;
  margin-bottom: 10px;
}

.inner-navbar a {
  color: #d2caca;
}
.inner-navbar span {
  color: #c3073f;
  padding: 8px;
}

@media (max-width: 767.98px) {
  span {
    display: none;
  }
}

.inner-navbar button {
  background-color: #d2caca;
}

.navbar-collapse {
  background-color: black;
}
