.card {
  color: #d2caca;
  background-color: #1a1a1d;
}

.card-header {
  background-color: #d2caca;
  background-color: #1a1a1d;
}

.card-body {
  color: #d2caca;
  background-color: #1a1a1d;
}

.card-img {
  width: 50%;
  height: 50%;
  align-self: center;
}

@media (max-width: 576px) {
  .card-img {
    width: 100%;
    height: 100%;
  }
}
